svelte:head
	title Sapper project template

h1 Great success!

Button(variant="raised") primary
Button(variant="raised", color="secondary") 
	Label secondary

figure
	img(alt='Success Kid', src='successkid.jpg')
	figcaption Have fun with Sapper!

p
	strong Try editing this file (src/routes/index.svelte) to test live reloading.
