<script>
  import Button from "@smui/button/bare.js";
  import { Label } from "@smui/common";
</script>

<style lang="scss">
  @import "./_index.scss";
</style>

<template lang="pug" src="./_index.pug" />
